<%- include('../partials/user/header.ejs') %>
<section class="banner-div">
    <div class="form-container">
        <div class="switcher">
            <h1><center>Admin Login</center></h1>
        </div>
        <form id="myForm" method="post" action="/admin/login">
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <div>
                <center>
                    <input type="submit" value="Login">
                </center>
            </div>
         </form>
    </div>
</section>
<%- include('../partials/user/footer.ejs') %>