<html>
    <head>
        
        <% if(filename == "index"){ %>
            <Title>Paw - HOME</Title>
            <link rel="stylesheet" type="text/css" href="/css/index.css">
        <% }else if(filename == "contactus"){ %>
            <Title>Paw - Contact Us</Title>
            <link rel="stylesheet" type="text/css" href="/css/contactus.css">
        <% }else if(filename == "donate"){ %>
            <Title>Paw - Donate</Title>
            <link rel="stylesheet" type="text/css" href="/css/donate.css">
        <%}%>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/donate">Donate</a></li>
            </ul>
        </nav>