<%- include("partials/admin/navigation.ejs") %>
<section class="dashboard-display">
    <form>
        <h1><center>Change Password</center></h1>
        <label for="opass">Old Password:</label>
        <input id="opass" type="password">
        <label for="npass">New Password:</label>
        <input id="npass" type="password">
        <label for="cpass">Confirm password:</label>
        <input id="cpass" type="password">
        <input type="submit" value="Change Password">
    </form>
</section> 