<%- include("partials/header.ejs") %>
        <section class="banner-div">
            <p>
            "you can't change a dog's <span>past</span>, but you can rewrite the <span>future</span>"
            </p>
        </section>
        <section id="dog-profiles">
            <h1>Lives We Have Saved</h1>
            <div id="cards">
                <div class="card">
                    <div class="card-image">
                        <img src="https://th.bing.com/th/id/OIP.q2FlKUt2T39oR6TKb-LbbAHaE7?w=241&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
                    </div>
                    <div class="card-text">
                        meet sarlet
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://th.bing.com/th/id/OIP.hNxoSZY3HQbchkn4xGX6CgAAAA?w=300&h=173&c=7&r=0&o=5&dpr=1.3&pid=1.7">
                    </div>
                    <div class="card-text">
                        meet harry 
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJx44BnIcHmr_x-jOnKf54Z9TD6sFpfoF0kZYPr-A6&s">
                    </div>
                    <div class="card-text">
                        was rescued form 
                    </div>
                </div>
            </div>
        </section>
<%- include("partials/footer.ejs") %>