.heading{
    text-transform: uppercase;
    border-bottom: 1px solid;
}
div{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}
button{
    padding: 10px;
}

table{
    max-height: 80vh;
    display:flex;
    flex: 1;
    height: 100%;
    
    border-top: 1px solid black;
    
    overflow-y: auto;
    margin:10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    flex-direction: column;
}

tr{
    display: flex;
    border-left: 1px solid black;
    flex: 1;
}
th, td{
    flex: 1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 8px;
}

td{
    text-align: right;
}
td img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.desc{
    flex:3;
}
select{
    width: 100%;
}
