.heading{
    text-transform: uppercase;
    border-bottom: 1px solid;
}
.button-container{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}
button{
    padding: 10px;
}

.table-container{
    max-height: 80vh;
    margin:10px;
    width: calc(100%-20px);
    overflow-x: auto;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid black;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

tr{
    border-left: 1px solid black;
}
th, td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}

td{
    text-align: end;
}
td img{
    object-fit: cover;
    width: 170px;
    aspect-ratio: 1/1;
}
.image{
    text-align: center;
}
select{
    width: 100%;
}
