.banner-div{
    justify-content: center;
    align-items: center;
    background-image: url("../../images/donate_image.jpg");
}
input{
    margin: 0;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 20px;
    width:25%;
    min-width: 280px;
    max-height: 500px;
}

