<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/common.css">
    <title>Admin Dashboard - PAW</title>
    <% if(filename=="index"){ %>
        <link rel="stylesheet" href="/css/admin/dashboard_index.css">
    <% }else if(filename=="changepass" || filename=="adddog"){ %>
        <link rel="stylesheet" href="/css/admin/dashboard_changepass.css">
    <% }else if(filename=="dogs" || filename=="donations" || filename=="Contact Us" || filename=="Dog Adoption"){ %>
        <link rel="stylesheet" href="/css/admin/dashboard_master.css">
    <% } %>
</head>
<body>
    <nav>
        <h1><center>PAW</center></h1>
        <ul>
            <li><a href="/admin/dashboard/dogs">Dogs</a></li>
            <li><a href="/admin/dashboard/donations">Donations</a></li>
            <li><a href="/admin/dashboard/contactus">Contact Us</a></li>
            <li><a href="/admin/dashboard/dogadoption">Dog Adoption</a></li>
            <li><a href="/admin/dashboard/changepass">Change Password</a></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </nav>